################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/package-lock.json
/yarn.lock
/litovel/.vscode
/.expo
/android
yarn.lock
